<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<body>
<div class="bigcontainer">
<header>
  <div class="covidresponse">
      <h3><a href="https://www.uwo.ca/coronavirus/">COVID-19 Information website of Western University</a> for information on our response to the pandemic.</h3>
  </div>
  <div class="container">
    <a class="logo">
      <img src="../assets/img/Western_Logo.jpg">
      <strong>Undergraduate</strong><br>
      <!-- <strong class="term">Fall/Winter Academic Timetable 2020/2021</strong>--></a>
  </div>
  <div class="infomation">
    <h2>Fall/Winter 2020-2021 Schedules</h2>
    <h3 class="online">All fall courses will be delivered online until furture notice.</h3>
    <p>
      Individual instructors will specify if and when a componnent of the course will take place synchronously per the published class schedule.
    </p>
  </div>


</header>
<main>
<div class="content">
  <app-search></app-search>
</div>
</main>

<footer>
  <div>
    <img src="../assets/img/western_bg1.jpg"/>
  </div>
  <div class="address">
    <span class="key">1878 - 2020 Western University</span>
    <br>
    <br>
    <span>Western University</span>
    <br>
    <span>1151 Richmond Street</span>
    <br>
    <span>London, Ontario, Canada, N6A 3K7</span>
    <br>
    <span>Tel: 519-661-2111</span>
    <br>
    <a href="https://www.uwo.ca/about/contact.html" class="contact">&nbsp;&nbsp;Contact Us</a>
    <br>
    <span>Privacy  | Terms of Use  |  Accessibility</span>
    

</div>
<div class = "keyTopics">
  <span class="key">Key Topics:</span>
  <br>
  <br>
  <a class="contact" href="https://communications.uwo.ca/comms/news_publications/index.html">News & Publications</a>
  <br>
  <a class="contact" href="https://mediarelations.uwo.ca/">Media Realtions</a>
  <br>
  <a class="contact" href="https://communications.uwo.ca/comms/teams-expertise/index.html">Teams & Expertise</a> 
  <br>
  <a class="contact" href="https://communications.uwo.ca/comms/web_design/index.html">Digital</a> 
  <br>
  <a class="contact" href="https://communications.uwo.ca/comms/western_brand/index.html">Western Brand</a>

</div>

<div class = "resources">
  <span class="key">Resources for:</span>
  <br>
  <br>
  <a class="contact" href="https://www.uwo.ca/future_students/index.html">Future Students</a>
  <br>
  <a class="contact" href="https://www.uwo.ca/current_students/index.html">Current Students</a>
  <br>
  <a class="contact" href="https://www.uwo.ca/faculty_staff/index.html">Faculty/Staff</a>
  <br>
  <a class="contact" href="https://international.uwo.ca/">International</a>
  <br>
  <a class="contact" href="https://www.uwo.ca/community/">Community</a>
  <br>
  <a class="contact" href="http://alumni.westernu.ca/">Alumni</a>
</div>
</footer>
</div>
</body>